.ant-btn-primary {
  box-shadow: none !important;
}

:where(:not(.ant-btn-dangerous)).ant-btn-primary {
  color: $white !important;
}

:where(:not(.ant-btn-dangerous)).ant-btn-primary:disabled:hover {
  color: rgba($white, 0.7) !important;
}

:where(:not(.ant-btn-dangerous)).ant-btn-primary:hover {
  color: $white !important;
}
