.custom-select {
    border: 1px solid rgb(232, 233, 235);
    ;
    max-width: 100%;
    height: auto;
    min-height: 40px;
    line-height: 1.5714285714285714;
    vertical-align: bottom;
    transition: all 0.3s, height 0s;
    resize: vertical;
    padding: 9.5px 11px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 16px;
    width: 100%;

    display: flex;
    justify-content: space-between;


}