.dashboard-page {
  .forms-line-chart-card {
    height: 100%;
  }

  .devices-registered-chart-card {
    .text-white {
      color: $white;
    }

    .title-count-row {
      margin-top: calc($margin * 1.5);
    }
    .three-dots-button {
      color: $white;
      border-radius: 50%;

      &:hover {
        color: $white;
      }
    }

    .registered-devices-count {
      display: inline-flex;
      color: $white;
    }
  }

  .active-users-card {
    .active-users-menu {
      .active-user {
        display: flex;
        align-items: center;
        gap: calc($margin / 2);
        height: 50px;

        .ant-menu-title-content {
          flex-grow: 1;

          .details-col {
            line-height: 1;
          }
          .user-menu-button {
            min-width: 80px;
            text-align: center;
            font-weight: bold;
            padding: 8px 16px;
            transition: background-color 0.3s ease-in-out;

            &:hover {
              background-color: #bde1ff;
            }
          }
        }
      }
    }
  }
}
