$primary-color: #005ef6;
$text-over-primary: #1D1923; 
$success-color: #3BA55C;
$error-color: #DD0121;
$success-bg-color: #dbe3ee;
$error-bg-color: rgba(238, 0, 0, 0.1);
$bg-color-a: #27222d;
$bg-color-b: #1d1923;
$white: #ffffff;
