@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@font-face {
  font-family: 'Geometrica';
  src: url('../assets/fonts/Geometria-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geometrica';
  src: url('../assets/fonts/Geometria-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Geometrica';
  src: url('../assets/fonts/Geometria.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geometrica';
  src: url('../assets/fonts/Geometria-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Geometrica';
  src: url('../assets/fonts/Geometria-Medium.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geometrica';
  src: url('../assets/fonts/Geometria-MediumItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Geometrica';
  src: url('../assets/fonts/Geometria-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geometrica';
  src: url('../assets/fonts/Geometria-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Geometrica';
  src: url('../assets/fonts/Geometria-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Geometrica';
  src: url('../assets/fonts/Geometria-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}
