.Title{
    margin-top: 0 !important;
    font-weight: 400 !important;
    text-align: start !important;
}

.Paragrapgh {
    font-size: 16px;
}
.Title1{
    font-weight: 400 !important;
}
.Add {
    display: flex;
    gap: 32px;
    padding-top: 10px;
}

.Column-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}


.Wrapper{
    display: flex;
    justify-content: baseline;
    justify-content: space-between;
}
.icon-color{
    font-size: 50px !important;
}
.Heading{
    font-weight: 400 !important;
    font-size: 18px !important;
}


.Map-data{
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.whole-wrapper{
   padding-left: 30px;
}
.Typography {
    margin-top: 0 !important;
    font-weight: 400 !important;
    text-align: start !important;
    padding-bottom: 30px !important;
}
.Display-wrapper{
    display: flex;
}