.text{
    flex-direction: column !important;
}
.Card-text{
    width: 500px !important;
    margin-bottom: 20px;
}
.straight-line{
    width: 100%;
    border: 0;
    border-top: 2px solid #0000001c;
    padding-bottom: 10px;
}