.add-edit-user-group-form {

  .center{
    display: flex;
    justify-content: center;
  }

  .password-note {
    text-align: center;
  }

  .phone-number-combined-field {
    border: 1px solid #e8e9eb;
    border-radius: 16px;
    overflow: hidden;

    .phone-number-form-item {
      flex-grow: 1;

      input {
        border: none;
        border-radius: 0px;

        &:focus,
        &:active,
        &:hover {
          border: none;
          border-radius: 0px;
        }
      }
    }

    .country-code-select-field {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 100px;

      .ant-select {
        border: none;
        border-radius: 0px;

        .ant-select-selector {
          border: none;
          border-radius: 0px;
        }

        &:focus,
        &:active,
        &:hover {
          border: none;
          border-radius: 0px;
        }
      }

      select {
        border: none;
        border-radius: 0px;

        &:focus,
        &:active,
        &:hover {
          border: none;
          border-radius: 0px;
        }
      }
    }
  }

  .groups-multiple-select {
    border-radius: $margin;
  }
}


.profile-image-container {
      width: 100%;
      max-width: 100px !important;
      position: relative;
      margin: auto;
  
      .edit-circle {
          cursor: pointer;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 10;
      }
  
      .img-placeholder .ant-skeleton-image {
          width: 100px !important;
          height: 100px !important;
      }
  
      .ant-avatar>img {
          width: 100px;
          height: 100px;
          object-fit: contain !important;
      }
  }