.formItem {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  // .ant-select .ant-select-arrow {
  // color: #fff;
  // }

  .ant-select-dropdown {
    .ant-select-item-option-selected {
      background-color: $bg-color-a !important;
    }
  }

  // .ant-select-selection-item {
  // color: #fff !important;
  // }

  .ant-select-selector {
    border: none !important;
  }
}