.Title-wrapper{
    font-weight: 400 !important;
    text-align: center !important;
    font-size: 18px !important;
}
.Button{
    margin: auto;
    display: block;
}
.Card-gap{
    height: 100%;
}
.Image-title{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.count-card{
    padding-top: 20px;
}