.add-group-page {
  .user-permissions-col {
    .user-permission-instructions {
      margin-bottom: 0px;
    }
    .gear-icon-info {
      display: inline-block;
      font-size: 12px;
      margin-bottom: $margin;
    }
  }
}
